# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Backend config.
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/openresume?schema=openresume

# Amazon SES or other email server setup, used to send magic links.
EMAIL_SERVER_HOST=
EMAIL_SERVER_PORT=
EMAIL_SERVER_USER=
EMAIL_SERVER_PASSWORD=
EMAIL_FROM="OpenResume <mail@openresume.org>"

# Environment for the app.
NEXT_PUBLIC_ENVIRONMENT_NAME=local

# Google Tag Manager ID.
GTM_ID=

# Used to fetch data from the backend on client side.
NEXT_PUBLIC_GRAPHQL_ENDPOINT="http://localhost:3000/api/graphql"

# NextAuth settings.
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=replace_with_your_random_secret_hash
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Public URL for the site.
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# AWS config.
AWS_REGION=

# AWS S3 bucket for storing user uploaded files.
AWS_S3_BUCKET_NAME=medialocal.openresume.org
AWS_S3_USER_ACCESS_KEY_ID=
AWS_S3_USER_SECRET_ACCESS_KEY=

# Sentry for error logging.
SENTRY_AUTH_TOKEN=

# OpenAI API key.
OPENAI_API_KEY=

# Test email for Cypress.
CYPRESS_TEST_EMAIL=test@openresume.org
