# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Backend config.
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/openresume?schema=openresume

# Postgres config, available to Prisma.
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=openresume

# Amazon SES or other email server setup, used to send magic links.
EMAIL_SERVER_HOST=
EMAIL_SERVER_PORT=
EMAIL_SERVER_USER=
EMAIL_SERVER_PASSWORD=
EMAIL_FROM=

# Environment for the app.
ENVIRONMENT_NAME=local

# Google Tag Manager ID.
GTM_ID=

# Used to fetch data from the backend on client side.
NEXT_PUBLIC_GRAPHQL_ENDPOINT="http://localhost:3000/api/graphql"

# NextAuth settings.
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=replace_with_your_random_secret_hash

# Public URL for the site.
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Used for local development and interacting with AWS.
# Used for SSM port-forwarding setup.
BASTION_EC2_INSTANCE_ID=

RDS_TEST_INSTANCE_HOST=
RDS_TEST_INSTANCE_USERNAME=
RDS_TEST_INSTANCE_PASSWORD=
RDS_PRODUCTION_INSTANCE_HOST=
RDS_PRODUCTION_INSTANCE_USERNAME=
RDS_PRODUCTION_INSTANCE_PASSWORD=
