@use "@/app/vars.scss" as *;

html,
body {
  max-width: 100vw;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

ul {
  padding-inline-start: 0;
}

h3,
h4 {
  margin-bottom: 10px;
}

// Small tablet and mobile.
@media screen and (max-width: $breakpoint_mobile) {
  h2 {
    margin: 20px 0;
    padding: 20px 0;
  }
}
